.pad-top {
  margin-top: 35px;
}

.list-group-item:hover {
  background: #9d9d9d;
  cursor: pointer;
}

.btn-block {
  margin-left: -15px;
  width: 103.5%;
}

.container-fluid, .sidebar-row {
  height: 100%;
  width: 100%;
}
