<div class="container-fluid">
  <div class="row sidebar-row">

    <div class="bill-sidebar">
      <bill-sidebar></bill-sidebar>
    </div>

    <div class="bill-main-content">

      <h1>Bills</h1>

      <a type="button" [routerLink]="['/bills/add']" class="btn btn-primary btn-lg btn-block">Create Bill</a>

      <div *ngIf="isLoading" class="loading-container">
        <img src="/assets/images/gears.gif" alt="Loading bills">
      </div>

      <div *ngIf="!isLoading" class="list-group bill-list">

        <ul class="cards">
          <li *ngFor="let bill of bills" class="cards__item" (click)="editBill(bill._id)" >
            <div class="card">

              <div *ngIf="bill.image" class="card__image" [style.background-image]="'url(' + bill.image + ')'"></div>
              <div *ngIf="!bill.image" class="card__image card__image--fence"></div>

              <div class="card__content">
                <div class="card__title">{{ bill.name }}</div>
                <p class="card__text">
                  Amount Due: {{ bill.amount | currency:'USD':true }}
                  <br>
                  Due on: {{ bill.customDueDate | date: 'MMM dd, yyyy' }}
                  <br>
                  Last paid on: {{ bill.datepaid | date: 'MMM dd, yyyy' }}
                </p>
                <button class="btn btn--block card__btn">Manage</button>
              </div>

            </div>
          </li>

        </ul>

      </div>


    </div>
  </div>
</div>
