<div class="container-fluid">
  <div class="row sidebar-row">

    <div class="bill-sidebar">
      <bill-sidebar></bill-sidebar>
    </div>

    <div class="bill-main-content">

      <div class="text-center text-important">
        <h1>Bill Dashboard</h1>
      </div>

      <div class="row placeholders">
        <div class="col-md-4 text-center placeholder">
          <a [routerLink]="['/bills/manage']">
            <img src="/assets/images/manage.png" width="200" height="200" class="img-responsive" alt="Manage">
            <h4>Manage</h4>
            <span class="text-muted">Manage Bill Accounts</span>
          </a>
        </div>

        <div class="col-md-4 text-center placeholder">
          <a [routerLink]="['/bills/pay']">
            <img src="/assets/images/Purse-512.png" width="200" height="200" class="img-responsive" alt="Pay Bill">
            <h4>Pay</h4>
            <span class="text-muted">Pay a Bill</span>
          </a>
        </div>

        <div class="col-md-4 text-center placeholder">
          <a [routerLink]="['/bills/payment-history']">
            <img src="/assets/images/apple_time_machine_shaped.png" width="200" height="200" class="img-responsive" alt="Manage">
            <h4>Payment History</h4>
            <span class="text-muted">View Payment History</span>
          </a>
        </div>
      </div>


      <div *ngIf="hasUpcomingBills" class="row text-important">
        <h1>Upcoming Bills</h1>

        <div *ngIf="isLoading" class="loading-container">
          <img src="/assets/images/gears.gif" alt="Loading bills">
        </div>

        <div *ngIf="!isLoading" class="list-group bill-list">
          <div *ngFor="let unpaidBill of billsUnpaid" class="list-group-item row" (click)="payBill(unpaidBill._id)">

            <h3 class="list-group-item-heading">{{ unpaidBill.name }}</h3>

            <p class="list-group-item-text">
              Amount Due: {{ unpaidBill.amount | currency:'USD':true }}
              <br>
              Due on: {{ unpaidBill.customDueDate | date: 'MMM dd, yyyy' }}
            </p>

          </div>
        </div>

      </div>

      <div *ngIf="!hasUpcomingBills" class="text-center">
        <h3 class="text-important">All bills for the month have been paid.</h3>
      </div>

    </div>
  </div>
</div>
