/* You can add global styles to this file, and also import other style files */
.bill-sidebar {
  width: 15%;
  float:left;
  background: #353434;
  height: 120%;
  color: #9d9d9d;
  font-size: 16px;
  font-family: Robotica;
}

.bill-sidebar > ul > li > a {
  color: #9d9d9d;
}

.bill-sidebar > ul > li:hover {
  background: #222;
  color: #FFF;
}

.bill-main-content {
  width: 83%;
  float: left;
  margin-left: 1%;
}
